@import 'variables';


.github-PrPaneItem {
  display: flex;
  &-container {
    display: flex;
    flex-direction: column;
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-nav {
    display: flex;
    align-items: center;
    overflow-x: auto;
    box-shadow: inset 0 -1px 0 @base-border-color;
  }

  &-navItem {
    flex: 0 1 auto;
    padding: @component-padding @component-padding*2;
    font-size: .8em;
    color: @text-color-subtle;
    border-bottom: 1px solid @base-border-color;
    white-space: nowrap;
    cursor: default;

    &.is-selected {
      color: @text-color-selected;
      font-weight: 500;
      border-color: @text-color-subtle;
    }
  }

  &-nav {
    .badge {
      font-size: .8em;
      margin-left: @component-padding/2;
    }
  }

  &-subView {
    position: relative;
    flex: 1;
    overflow: auto;
    padding: @component-padding*2 0;
  }

}


.github-PrPaneItem.github-PrPaneItem {
  padding: @component-padding * 1.5;
  overflow: initial;

  .issueish-avatar-and-title {
    border-bottom: none;
    margin-bottom: 0;
  }

  .issueish-title {
    display: inline;
    line-height: 32px;
    vertical-align: middle;
  }

  .issueish-badge-and-link {
    margin-bottom: @component-padding * 1.5;
  }

  .refresh-button .icon {
    &:before {
      margin-right: 0;
    }
  }

}
