@import 'variables';

.github-PrPaneItem.github-PrPaneItem {

  .issueish-avatar-and-title {
    border-bottom: none;
    margin-bottom: 0;
  }

  .issueish-badge-and-link {
    margin-bottom: @component-padding * 1.5;
    padding-bottom: @component-padding * 1.5;
    border-bottom: 1px solid @base-border-color;
  }

  .issueish-badge,
  .issueish-badge.badge {
    align-self: center;
  }

  .refresh-button {
    .icon {
      margin-left: @component-padding;
    }
  }

}
